<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="so101">

    <xacro:macro name="so101_transmission" params="prefix:=''">

    <transmission name="${prefix}gripper_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}gripper">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor6">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    <transmission name="${prefix}wrist_roll_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}wrist_roll">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor5">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    <transmission name="${prefix}wrist_flex_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}wrist_flex">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor4">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>


    <transmission name="${prefix}elbow_flex_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}elbow_flex">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor3">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    <transmission name="${prefix}shoulder_lift_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}shoulder_lift">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor2">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    <transmission name="${prefix}shoulder_pan_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}shoulder_pan">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor1">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    </xacro:macro>
</robot>
